{{define "content"}}
<section class="actualites-section">
    <h2>Actualités</h2>
    <div class="post-list">
        <!-- Insérez ici le code pour afficher les derniers posts du site -->
        <div class="post">
            <h3>Titre du Post 1</h3>
            <img src="/static/img/img1.png" alt="Post 1" class="img-post">
            <p>Date et contenu du post 1</p>
        </div>
        <div class="post">
            <h3>Titre du Post 2</h3>
            <img src="/static/img/img2.png" alt="Post 1" class="img-post">
            <p>Date et contenu du post 2</p>
        </div>
        <!-- Vous pouvez ajouter d'autres posts ici -->
    </div>
</section>
{{end}}