<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Casel</title>
</head>
<body>
    <div class="post-header">
        <div class="logo">
            <img src="/static/img/logo.png" alt="logo" class="img-logo">
        </div>
        <div class="img-annonce">
            <!-- <img src="" alt="annonce" class="img-annonce"> -->
        </div>
    </div>
    <header class="header">
        <nav class="nav-bar">
            <a href="#">Accueil</a>
            <a href="#">Accueil</a>
            <a href="#">Accueil</a>
            <a href="#">Accueil</a>
        </nav>
    </header>
</body>
</html>